.MainDiv {
  border-top: 20px;
  border-left: 20px;
  border-right: 20px;
  border-bottom: 20px;
}

.emptyColumn {
  float: left;
  width: 5%;
}

.columnLeft {
  float: left;
  width: 30%;
  border-top: 20px;
  border-left: 20px;
  border-right: 20px;
  border-bottom: 20px;
}

.columnRight {
  float: right;
  width: 65%;
  border-top: 20px;
  border-right: 20px;
  border-bottom: 20px;
  text-align: left;
}

.justifyLeft {
  text-align: left;
}

.columnButtonEmpty {
  float: left;
  width: 50%;
}

.columnButton {
  float: right;
  border-right: 20px;
  border-left: 20px;
  border-top: 20px;
  border-bottom: 20px;
}

.img {
  width: 180px;
  align-items: center;
}

.button {
  align-items: right;
}

.roundedButton {
  border-radius: 8px;
}

.roundedBlackButton {
  border-radius: 8px;
  background-color: black;
  color: white;
}

.buttonRate {
  border-radius: 8px;
  background-color: black;
  color: white;
}

.titleLeft {
  float: left;
  text-align: left;
  width: 80%;
}

.titleRight {
  float: right;
  text-align: right;
  width: 20%;
}

.row {
  content: "";
  clear: both;
  display: table;
}
