.DisplayedMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  border-top: 35px;
  border-left: 35px;
  border-right: 35px;
  background-color: #00aaff;
}

.HiddenMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 26px;
  height: 100%;
  background-color: #00aaff;
}
